.footer {
  background-color: black;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 60px;
  max-width: 880px;
}
.footer__copyright {
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 320px){
 .footer{
padding-top: 48px;
padding-bottom: 36px;
 } 
 
.footer__copyright{
line-height: 14px;
display: flex; 
width: 268px;
margin: auto;
}
}
