.form{
display: flex;
flex-direction: column;
}

.form__input{
width: 358px;
border: 1px solid;
}

.form__input:first-child{
margin-top: 54px;
margin-bottom: 30px;
}

.form__input:nth-child(2){
margin-bottom: 48px;
}

.form__submit{
width: 358px;
height: 50px;
background-image: url(../Images/Rectangle.svg);
color: white;
border: none;

}

.form__submit:disabled{
  background-image: url(../Images/Rectanglew.svg);
  color: #CCCCCC;
}

.form__error{
color: red;
height: 16px;
padding-bottom: 20px;
width: 358px;
text-align: left;
}

.form__input_type_error{
border: 1px solid red;
width: 358px;

}

@media (max-width: 320px){

.form{
width: 282px;
height: 322px;
align-items: center;
} 

.form__input{
width: 238px;
height: 27px;
        
}

.form__submit{
width: 238px;
height: 46px; 
    
}

#form__name{
margin: 0;
}

#form__about{
margin: 0;
}
}