.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup__show {
 display: flex; 
}

#popup__pic{
  width: auto;
  width: 100%; 
  height: 100%;
  margin: auto;
  z-index: 15;
 flex-direction: column;
}

.popup__info{
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 500px;
}

.popup__image{  
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 40%;
  
}


.popup-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: 358px;
  margin: 0;
  padding-top: 34px;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 430px;
  height: 330px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background: url(../../../Images/CloseIcon.png);
  border: none;
  color: white;
  background-repeat: no-repeat;
}



#popup__pic-close{
  width: 40px;
  height: 40px;
  background: url(../../../Images/CloseIcon.png);
  border: none;
  color: white;
  background-repeat: no-repeat; 
  top: 25px;
  left: 730px;
  z-index: 60;
}

@media (max-width: 320px) {
.popup-container{
width: 282px;
height: 322px;

}

.popup-title{
width: 238px;

}

.close-btn{
top: -49px;
right: 10px;
}


}