.popup {
  display: flex;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}
.popup__show {
 visibility: visible;
 opacity: 1;
}

#popup__pic{
  width: auto;
  width: 100%; 
  height: 100%;
  margin: auto;
  z-index: 15;
 flex-direction: column;
}

.popup__info{
  color: white;
  width: 100%;
}

.popup__image{  
  width: 100%;
  max-height: 75vh;
  
}


.popup-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: 358px;
  margin: 0;
  padding-top: 34px;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 430px;
  height: 330px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background: url(../../../Images/CloseIcon.png);
  border: none;
  color: white;
  background-repeat: no-repeat;
}



#popup__pic-close{
  width: 40px;
  height: 40px;
  background: url(../../../Images/CloseIcon.png);
  border: none;
  color: white;
  background-repeat: no-repeat; 
  align-self: end;
  margin-right: -40px;
  position: initial;
}

.popup__content {
  z-index: 1;
  width: 80%;
  max-width:  75vw;  
  display: flex;
  flex-direction: column;
}

@media (max-width: 320px) {
.popup-container{
width: 282px;
height: 322px;

}

.popup-title{
width: 238px;

}

.close-btn{
top: -49px;
right: 10px;
}


}