.header { 
  max-width: 880px;
  margin: auto;
}
.header__logo {
  height: 33px;
  padding-top: 45px;
}

.header__line {
  width: 100%;
  opacity: 70%;
  border-bottom: 1px solid;
  color: #545454;
  padding-top: 41px;
}

@media (max-width: 320px) {
  .header {
    width: 100%;
  }
  .header__logo {
    width: 126px;
    height: 26px;
    padding-top: 28px;
    padding-left: 27px;
  }
  .header__line {
    width: 320px;
    padding-top: 32px;
  }
}
